*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    font-size: 14px;
}
.container{
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
.groundSpeed{
    &Inputs{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &Input{
        display: flex;
        align-items: stretch;
        
        position: relative;
        width: 100%;
        span{
            position: absolute;
            top: -5px;
            left: 15px;
            display: block;
            padding: 2px 5px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 7px;
            line-height: 6px;
            /* or 86% */
            text-align: center;
            background-color: #fff;
            color: #000000;

        }
        input{
            border: none;
            outline: none;
            background-color: transparent;
            padding-left: 10px;
            width: 100%;
            min-height: 52px;
            border:1px solid #1A7FDC;
            border-radius: 10px;
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
            border-right: 0px;
        

        }
        margin-bottom: 20px;
        &:last-of-type{
            margin-bottom: 0px;
        }
        .select{
            border:1px solid #1A7FDC;
            border-radius:10px;
            border-top-left-radius:0px;
            border-bottom-left-radius:0px;
            position: relative;
            width: 100%;
            max-width: 72px;
            cursor: pointer;
            img{
                position: absolute;
                right: 15px;
                top: 50%;
                transform: translateY(-50%);
            }
            .options{
                position: absolute;
                z-index: 200;
                height: 100%;
                width: 100%;
                overflow-y: hidden;
                &.show{
                    overflow-y: visible;
                }
                .option{
                    // height: 75%;
                    // transform: translateY(16%);
                    height: 100%;
                    display: flex;
                    align-items: center;
                    
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 14px;
                    /* or 100% */
                    padding: 0 5px;
                    color: #000000;
                    z-index: 120;
                    &:not(:nth-of-type(1)){
                        background-color: #fff;
                        border:1px solid #1A7FDC;
                        border-bottom:1px;
                        // margin: 0px -1px;
                    }
                    &:last-child{
                        border-bottom:1px solid #1A7FDC;
                        border-bottom-right-radius:10px;
                        border-bottom-left-radius:5px;
                    }
                }
                
            }
        }
    }
    &InputSimple{
        display: flex;
        align-items: stretch;
        
        position: relative;
        width: 100%;
        border:1px solid #1A7FDC;
        border-radius:10px;
        margin-bottom: 20px;
        span{
            position: absolute;
            top: -5px;
            left: 15px;
            display: block;
            padding: 2px 5px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 7px;
            line-height: 6px;
            /* or 86% */
            text-align: center;
            background-color: #fff;
            color: #000000;
        }
        input{
            border: none;
            outline: none;
            background-color: transparent;
            padding-left: 10px;
            width: 100%;
            min-height: 52px;
        }
    }
}