.InputSimple{
    display: flex;
    align-items: stretch;
    
    position: relative;
    width: 100%;
    border:1px solid #1A7FDC;
    border-radius:10px;
    margin-bottom: 20px;
    span{
        position: absolute;
        top: -5px;
        left: 15px;
        display: block;
        padding: 2px 5px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 7px;
        line-height: 6px;
        /* or 86% */
        text-align: center;
        background-color: #fff;
        color: #000000;
    }
    input{
        border: none;
        outline: none;
        background-color: transparent;
        padding-left: 10px;
        width: 100%;
        min-height: 52px;
    }
    .closeImg{
        max-width: 100%;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translate(0px,-50%);
    }
}